ion-header.custom-header {
  --background: #ffffff !important;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);

  ion-toolbar {
    --background: #ffffff !important;
  }

  ion-title {
    color: #000000 !important;
  }

  ion-buttons {
    ion-button, ion-menu-button {
      --color: #000000 !important;
    }
  }
}

ion-content.map-content {
  position: relative;
  --background: #f0f0f0;
  display: flex;
  flex-direction: column;
}

#map {
  height: 60%;
  width: 100%;
}

.leaflet-control-custom {
    background: #fff;
    border: 2px solid #ccc;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.logout-control svg {
    stroke: #d32f2f;
}

.active-recorridos-card {
  margin: 0;
  border-radius: 20px 20px 0 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  ion-card-header {
    padding-bottom: 8px;
  }

  ion-card-content {
    flex-grow: 1;
    overflow-y: auto;
  }

  .no-recorridos {
    text-align: center;
    padding-top: 20px;
    color: #888;
  }

  ion-list {
    padding-top: 0;
  }

  ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
    h2 {
      font-weight: 600;
      margin-bottom: 8px;
    }
    p {
      font-size: 0.9em;
      color: #555;
    }
  }
}
