#map {
  height: 350px;
  width: 100%;
  border-radius: 10px;
  margin-top: 16px;
  z-index: 1;
}

.leaflet-container {
  background: #252525;
}

ion-item h3 {
  margin: 0;
  font-size: 1rem;
}

ion-item p {
  margin: 0;
  color: #666;
  font-size: 0.85rem;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 10px;
}

.pagination-controls button {
  --background: #3880ff;
  --color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 1rem;
}
.pagination-controls button:disabled {
  --background: #ccc;
  cursor: not-allowed;
}
