<ion-content class="login-content ion-text-center" fullscreen="true" forceOverscroll="false">

  <button class="back-button" routerLink="/home">
    <img src="/assets/icon/flecha-circulo-izquierda.png" alt="Back" class="back-icon" />
  </button>
  <ion-grid class="login-grid">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12">
        <img src="/assets/icon/recycling-truck_17013849.png" class="logo" alt="Recycle Icon" />
        <h1 class="title">¡Bienvenido de nuevo!</h1>

        <ion-item lines="full">
          <ion-label position="stacked">Correo Electrónico</ion-label>
          <ion-input
            [(ngModel)]="email"
            name="email"
            type="text"
            placeholder="Ingresa tu correo electrónico"
            required
          ></ion-input>
        </ion-item>

        <!-- Campo contraseña con ojo para mostrar/ocultar -->
        <ion-item lines="full">
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input
            [(ngModel)]="password"
            name="password"
            [type]="passwordVisible ? 'text' : 'password'"
            placeholder="Ingresa tu contraseña"
            required
          ></ion-input>

          <!-- Icono ojo que alterna visibilidad -->
          <ion-button 
            slot="end" 
            fill="clear" 
            (click)="passwordVisible = !passwordVisible"
            class="eye-button">
            <ion-icon 
              [name]="passwordVisible ? 'eye-off-outline' : 'eye-outline'">
            </ion-icon>
          </ion-button>
        </ion-item>

        <p class="forgot-password">¿Olvidaste tu contraseña?</p>

        <ion-button
          expand="block"
          class="btn-green"
          (click)="login()"
          [disabled]="isLoading"
        >
          <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
          <span *ngIf="!isLoading">Iniciar Sesión</span>
        </ion-button>

        <p class="sign-up">
          ¿No tienes una cuenta?
          <span class="link-crear-cuenta" routerLink="/crear-cuenta">Crear cuenta</span>
        </p>

        <ion-text color="danger" *ngIf="errorMessage">
          <p class="ion-text-center ion-margin-top">{{ errorMessage }}</p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>