.home-content {
  --background: url('/assets/images/home-bg.png') no-repeat center center / cover;
  position: relative;
  height: 100%;
  color: #fff;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

.home-grid {
  position: relative;
  z-index: 2;
  margin-top: 30%;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}

.subtitle {
  color: #eaeaea;
  margin-bottom: 2rem;
  font-size: 1.1rem;
}

.btn-green {
  --background: #8fd694;
  --background-hover: #78c17f;
  --color: #fff;
  font-weight: 600;
  border-radius: 10px;
  transition: 0.3s;
}
