<ion-content class="home-content ion-text-center">
  <ion-grid class="home-grid">
    <ion-row class="ion-justify-content-center ion-margin-top">
      <ion-col size="12">
        <img src="/assets/icon/image.png" class="logo" />
        <h1 class="title">Bienvenido a EcoRuta BMA</h1>
        <p class="subtitle">
          Tu guía para la recolección de basura en Buenaventura
        </p>
        <ion-button
expand="block"
class="btn-green"
routerLink="/login"
        >
          Iniciar Sesión
        </ion-button>
        <p class="create-account" routerLink="/crear-cuenta">Crear cuenta</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>