<ion-content class="home-content ion-text-center">
  <div class="overlay"></div>
  <ion-grid class="home-grid">
    <ion-row class="ion-justify-content-center ion-margin-top">
      <ion-col size="12">
        <h1 class="title">Bienvenido a BasurApp</h1>
        <p class="subtitle">
          ¿Cuando pasara el carro de recoleccion?
        </p>

        <ion-button
          expand="block"
          class="btn-green"
          routerLink="/login"
        >
          Iniciar Sesión
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
