/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component.
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";


/* Basic CSS for apps built with Ionic */
//@import "@ionic/angular/css/normalize.css";
//@import "@ionic/angular/css/structure.css";
//@import "@ionic/angular/css/typography.css";
//@import "@ionic/angular/css/display.css";

/* Optional CSS utils */
//@import "@ionic/angular/css/padding.css";
//@import "@ionic/angular/css/float-elements.css";
//@import "@ionic/angular/css/text-alignment.css";
//@import "@ionic/angular/css/text-transformation.css";
//@import "@ionic/angular/css/flex-utils.css";
/*
:root {

  --ion-color-primary: #6ce976;   
  --ion-color-primary-rgb: 108,233,118;

  --ion-color-secondary: #000000;
  --ion-color-tertiary: #000000;

  --ion-toolbar-background: #ffffff;
  --ion-background-color: #ffffff;


  --ion-text-color: #000;
}
*/
/*
ion-modal ion-button,
ion-alert ion-button,
ion-datetime ion-button,
ion-picker ion-button,
ion-action-sheet ion-button {
  --color: #000 !important;
}
*/


//ion-tab-bar {
  //display: none !important;
//}


/* Fuente global (opcional) */
body {
  font-family: 'Roboto', sans-serif;
}

   
